<nav class="topBar">
    <ul>
        <li>{{#link-to 'index'}}Lacadée-Mounet{{/link-to}}</li>
        <li>{{#link-to 'reservation'}}Réverser !{{/link-to}}</li>
        <li>{{#link-to 'user'}}Gestion des utilisateurs{{/link-to}}</li>
    </ul>
</nav>
