<!--List exists contact-->
<div>
    <label>Nom complet</label>
    {{input value=name list=Id required="true" class="name" placeholder="John Doe"}}
    <small>Entrer prénom et nom ou le nom de l'entreprise</small>
    <datalist id="{{Id}}">
        {{#each contacts as |contact|}}
         <option value="{{contact.name}}" />
        {{/each}}
    </datalist>
</div>

<!-- Add a contact-->
{{contact-add contact=contact}}

