<label class="{{if error 'error'}}">{{name}}</label>
{{input value=field placeholder=placeholder classBinding="error:error" type=type}}
{{#if error}}
<small class="error">
    {{error}}
</small>
{{/if}}
