{{#if successMessage}}
<div data-alert class="alert-box success">
    Mot de passe modifié avec succès
</div>
{{/if}}

{{input-error error=error}}

<div class="large-12 columns">
    <form {{action 'changePassword' on='submit'}}>
        <div class="row">
            <div>
                <label>Mot de passe</label>
                {{input value=password placeholder='' pattern="^.{6,}$" type='password' required='true'}}
                <small>Doit être supérieur à 6 caractères</small>
            </div>

            <div>
                <label>Confirmation du mot de passe</label>
                {{input value=confirmPassword placeholder='' type='password' required='true' class="confirmPassword" }}
                <small>Les mots de passes doivent correspondent</small>
            </div>

            <button type="submit" class="button">Changer le mot de passe</button>
        </div>
    </form>
</div>
