<form {{action 'authenticate' on='submit'}}>
    {{input-error error=errorMessage}}
            <div>
                <label>Courriel</label>
                {{input value=email type="email" required='true'}}
                <small></small>
            </div>

            <div>
                <label>Mot de passe</label>
                {{input value=password placeholder='' type='password' required='true'}}
                <small></small>
            </div>

    <button type="submit" class="button">Connexion</button>
</form>
